{% extends "index.twig" %}

{% block content %}

    {% for post in posts %}
        <article>
            <section>
                <header>
                    <h2>{{ post.title }}</h2>
                    <p>veröffentlicht am {{ post.date }}</p>
                </header>
            </section>

            <section>
                <p>{{ post.excerpt|raw }}</p>
            </section>

            <section>
                <footer>
                    <a href="{{ app.baseUrl }}/article/{{ post.id }}">Weiterlesen</a>
                </footer>
            </section>
        </article>
    {% endfor %}

{% endblock %}