{% extends "layout.twig" %}

{% block content %}

    {% for post in posts %}
        <article class="gap-bottom double pad-bottom">
            <section>
                <header>
                    <h2><a href="{{ app.baseUrl }}/article/{{ post.id }}">{{ post.title }}</a></h2>
                    <p class="meta small">veröffentlich von {{ post.author.name|default("Unbekannt") }} am {{ post.date|date("d. F Y") }}</p>
                </header>
            </section>

            <section>
                <div>{{ post.excerpt|markdown|raw }}</div>
            </section>

            <section class="pad-top">
                <footer>
                    <a href="{{ app.baseUrl }}/article/{{ post.id }}#more" class="small button">
                        Weiterlesen
                        <i class="icon-double-angle-right"></i>
                    </a>
                </footer>
            </section>

        </article>
    {% endfor %}

{% endblock %}