{% extends "layout.twig" %}

{% block content %}

    <article>
        <section>
            <header>
                <h2>{{ model.title }}</h2>
                <p class="meta small">veröffentlich von {{ post.author.name|default("Unbekannt") }} am {{ post.date|date("d. F Y") }}</p>
                <p class="tagline">
                    <a class="small yellow button"><i class="icon-tag"></i> zeug</a>
                    <a class="small orange button"><i class="icon-tag"></i> anderes zeug</a>
                    <a class="small pink button"><i class="icon-tag"></i> development</a>
                    <a class="small purple button"><i class="icon-tag"></i> security</a>
                    <a class="small blue button"><i class="icon-tag"></i> framework</a>
                    <a class="small turquoise button"><i class="icon-tag"></i> github</a>
                    <a class="small green button"><i class="icon-tag"></i> open source</a>
                </p>
            </header>
        </section>

        <section class="pad-top">
            <p>{{ model.content|markdown|raw }}</p>
        </section>

        <section>
            <footer class="gap-top double">
                <div class="row">
                    <div class="one half">
                        {% if (model.previous) %}
                            <a href="{{ app.baseUrl }}/article/{{ model.previous.id }}" class="small button">
                                <i class="icon-double-angle-left"></i>
                                Vorheriger Artikel
                            </a>
                        {% endif %}
                    </div>
                    <div class="one half align-right">
                        {% if (model.next) %}
                            <a href="{{ app.baseUrl }}/article/{{ model.next.id }}" class="small button">
                                Nächster Artikel
                                <i class="icon-double-angle-right"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </footer>
        </section>
    </article>

{% endblock %}